<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
id="dev.indiesagtewerke.escapeboek.gameover"
version="1.0.1"
android-versionCode="10001"
android-packageName="indiesagtewerke.escapeboek.gameover.inventorycompanion"
android-activityName="InventoryCompanion">
    <name short="Inventory Companion">Escape Boek Game Over - Inventory Companion</name>
    <description>Escape Boek Game Over digital inventory companion mobile application.</description>
    <author email="support@indiesagtewerke.dev" href="https://indiesagtewerke.dev">IndieSagtewerke</author>

    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="AndroidLaunchMode" value="singleInstance"/>
    <preference name="Orientation" value="portrait"/>
    <preference name="android-targetSdkVersion" value="32" />
    <icon src="resources/application-icon.png" width="72" height="72" density="hdpi" />
</widget>
